/*-------------------------- General ------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

/*----------------------------- Header ----------------------------------------*/

.header{
    background-color: #000000;
    width: 100%;
    height: auto;
    display: flex;
    border: #000 3px solid;
    justify-content: space-around;
    align-items: center;
}

    .header__logo{
        width: 100px;
        height: 100px;
        margin-top: -2vh;
        margin-bottom: -4vh;
    }

    .header__menuIcon{
        width: 50px;
        height: 50px;
    }

    .header__nav{
        display: none;        
    }

        .header__nav ul{
            display: flex;
        }

            .header__nav li{
                list-style: none;
                margin: 0 2vw;
            }

                .header__link{
                    color: #fff;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 300;
                    transition: all .5s linear;
                }

                .header__link--hover:hover{
                    color: #E70303;
                    text-decoration: underline;
                }

        /* .header__link{} */

/*------------------------------------ Mobile Menu ------------------------------------*/

.mobileNav{
    background-color: #E70303;
    width: 100%;
    height: 115vh;
    position: fixed;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1000;
    transform: translate(0, -120%);
    visibility: hidden;
    transition: all 1s ease;
    margin-top: 0px;
}

.mobileNav--visibility{
    opacity: 1;
    transform: translate(0, -10%);
    visibility: visible;
}

    .mobileNav__iconBox{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .mobileNav ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        margin-top: 15vh;
    }

        .mobileNav li{
            list-style: none;
            margin: 5vh 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .mobileNav__closed{
                color: #E70303;
                text-decoration: none;
                font-size: 2.5rem;
                font-weight: 700;
                text-align: center;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border-radius: 1000px;
                border: #fff 3px solid;
                transition: all .6s ease;
            }

                .mobileNav__closed:hover{
                    color: #fff;
                    background-color: #E70303;
                }

            .mobileNav__link{
                text-decoration: none;
                color: #fff;
                font-size: 2.5rem;
                transition: all .5s ease;
            }
                .mobileNav__link--hover:hover{
                    color: #000;
                    font-size: 2.8rem;
                }

/*-------------------------------------------- HomePage ------------------------------------------------*/
.homePage{
    width: 100%;
} 

    .homePage__info{
        background: url("../images/pages_images/background-mobile.png");
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
.homePage__avatar{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .homePage__myImage{
                width: 50%;
                border-radius: 1000px;
                margin-top: 2vh;
            }

            .homePage__socialNetworks{
                margin-top: 4vh;
            }

                .homePage__socialNetworks ul{
                    display: flex;
                }

                    .homePage__socialNetworks li{
                        list-style: none;
                        margin: 0 4vw;
                    }

                        .homePage__socialIcons{
                            text-decoration: none;
                            color: #000;   
                        }

                            .homePage__socialIcons i{
                                font-size: 2.3rem;
                                transition: all .5s ease;
                            }

                            .homePage__socialIcons i:hover{
                                color: #E70303;
                            }
